# Extract Raw Data

In [ ]:
import pandas as pd
import yahoo_fin.stock_info as si

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
SP500_company_data = pd.read_html(url)[0]
SP500_company_data.to_csv("companies_data.csv")

print(SP500_company_data['Symbol'][:10])  # Print first 10 tickers as a test
print('Total de empresas: ',len(SP500_company_data))

0     MMM
1     AOS
2     ABT
3    ABBV
4     ACN
5    ADBE
6     AMD
7     AES
8     AFL
9       A
Name: Symbol, dtype: object
Total de empresas:  503

### Train Data

In [ ]:
SP500_train_data = pd.DataFrame()

for company in SP500_company_data['Symbol']:
    try:
        company_data = si.get_data(company, start_date="01/01/2010", end_date="12/31/2023", index_as_date = True, interval="1d")
        SP500_train_data = pd.concat([SP500_train_data, company_data])
    except:
        ...

SP500_train_data.to_csv("stocks_train_data.csv")

In [20]:
SP500_train_data.head()

,open,high,low,close,adjclose,volume,ticker
2010-01-04,69.473244,69.774246,69.122070,69.414719,44.016731,3640265,MMM
2010-01-05,69.230766,69.590302,68.311035,68.979935,43.741035,3405012,MMM
2010-01-06,70.133781,70.735786,69.824417,69.958191,44.361359,6301126,MMM
2010-01-07,69.665550,70.033447,68.662209,70.008362,44.393158,5346240,MMM
2010-01-08,69.974915,70.501671,69.648827,70.501671,44.705978,4073337,MMM

### Test Data

In [ ]:
SP500_test_data = pd.DataFrame()

for company in SP500_company_data['Symbol']:
    try:
        company_data = si.get_data(company, start_date="01/01/2024", end_date="01/31/2024", index_as_date = True, interval="1d")
        SP500_test_data = pd.concat([SP500_test_data, company_data])
    except:
        ... 

SP500_test_data.to_csv("stocks_test_data.csv")

In [18]:
SP500_test_data.head()

,open,high,low,close,adjclose,volume,ticker
2024-01-02,90.819397,92.525085,90.677261,91.973244,89.364792,3321053,MMM
2024-01-03,91.329430,91.521736,89.297661,90.125420,87.569382,3547575,MMM
2024-01-04,90.367889,91.421402,90.058525,90.443146,87.878098,3319976,MMM
2024-01-05,90.284279,91.546822,89.924751,90.794312,88.219299,1991579,MMM
2024-01-08,90.518394,91.103676,89.958191,91.020065,88.438644,2535042,MMM

### Verificar se as empresas s√£o iguais em ambos

In [ ]:
# verificar se contem o msm numero de empresas
train_ind = SP500_train_data["ticker"].unique()
test_ind = SP500_test_data["ticker"].unique()
len(train_ind) == len(test_ind)

True

In [ ]:
count,err = 0,0

for ind in train_ind:
    if ind in test_ind:
        count += 1
    else:
        err += 1
print(count,err)

497 0